*,
*::before,
*::after {
 box-sizing:border-box;
 padding:0;
 margin:0;
 background:none;
 text-decoration:none;
 outline:none;
 font-family:inherit;
 font-size:inherit;
 line-height:inherit;
 font-weight:inherit;
 color:inherit;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-feature-settings:'calt' 1 , 'liga' 1 , 'ss01' 1 , 'ss03' 1 , 'case' 1
}
@font-face {
 font-family:'Inter';
 src:url("/Inter-Regular.woff2") format("woff2");
 font-weight:400;
 font-style:normal
}
:root {
 --c-bg: hsl(0,0%,100%);
 --c-text: hsl(0,0%,10%);
 --c-gray: hsl(0,0%,50%);
 --c-gray-light: hsl(0,0%,95%);
 --f-family: "Inter" , -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 --f-size: 15px;
 --f-height: 25px;
 --f-weight: 400;
 --f-scale-s: 0.79;
 --f-scale-l: 1.424;
 font-size:var(--f-height);
 font-family:var(--f-family);
 font-weight:var(--f-weight);
 background:var(--c-bg);
 color:var(--c-text)
}
body {
 font-family:var(--f-family);
 font-weight:var(--f-weight);
 font-size:var(--f-size);
 line-height:var(--f-height)
}
.header {
 padding:1.25rem 1.5rem;
 position:sticky;
 top:0;
 background:var(--c-bg);
 z-index:9999;
 border-bottom:1px solid var(--c-gray-light);
 display:flex;
 justify-content:space-between;
 transition:padding 300ms ease-out
}
.site-tagline {
 color:var(--c-gray);
 margin-left:0.5rem
}
@media (max-width: 499px) {
 .site-tagline {
  display:none
 }
}
button {
 cursor:pointer;
 display:inline-block;
 border:none;
 margin:0;
 background:none;
 color:var(--c-gray)
}
button::before {
 content:"←";
 display:inline-block;
 transition:opacity 300ms ease-out , transform 300ms ease-out;
 opacity:0
}
button:hover::before {
 opacity:1;
 transform:translateX(-0.25rem)
}
.sidebar-open button::before {
 content:"→"
}
@media (min-width: 600px) {
 .sidebar-open .header {
  padding-right:16.5rem
 }
}
.sidebar {
 position:fixed;
 top:0;
 right:0;
 bottom:0;
 background:white;
 border-left:1px solid var(--c-gray-light);
 z-index:99999;
 width:15rem;
 overflow:hidden;
 transform:translateX(15rem);
 transition:transform 300ms ease-out;
 display:grid;
 grid-template-rows:3.5rem 1fr 3.5rem;
 height:100%
}
@media (max-width: 599px) {
 .sidebar {
  width:14rem;
  top:3.5rem;
  border-top:1px solid var(--c-gray-light)
 }
}
.sidebar-open .sidebar {
 transform:initial
}
.categories {
 padding:0 1.5rem;
 overflow:auto
}
@media (max-width: 599px) {
 .categories {
  grid-row:span 2
 }
}
.category-link {
 font-size:calc(var(--f-size) * var(--f-scale-l));
 line-height:1.3rem;
 padding-top:.35rem;
 padding-bottom:.35rem;
 display:block
}
.category-link:not(:first-child) {
 margin-top:1rem
}
.category-link:first-child {
 margin-top:0.9rem
}
.subcategory-link {
 font-size:var(--f-size);
 line-height:1rem;
 display:block
}
.subcategory-link:last-child {
 margin-bottom:1.25rem
}
.sidebar-footer {
 padding:1.25rem 1.5rem;
 border-top:1px solid var(--c-gray-light);
 background:var(--c-bg)
}
.category-link::after,
.subcategory-link::after,
.suggest-link::after {
 font-size:var(--f-size);
 line-height:1rem;
 content:"→";
 display:inline-block;
 transition:opacity 300ms ease-out , transform 300ms ease-out;
 opacity:0
}
.category-link:hover::after,
.subcategory-link:hover::after {
 opacity:1;
 transform:translateX(0.25rem)
}
.search-field {
 border:none;
 border-bottom:1px solid var(--c-gray-light);
 outline:none;
 padding:1.25rem 1.5rem;
 width:100%;
 background:var(--c-bg)
}
@media (max-width: 599px) {
 .search-field {
  display:none
 }
}
.suggest-link::after {
 opacity:1;
 transform:translateX(0.25rem)
}
.suggest-link:hover::after {
 transform:translateX(0.5rem)
}
.grid {
 padding:1.5rem;
 display:grid;
 grid-template-columns:repeat(auto-fill, minmax(13rem, 1fr));
 grid-gap:1.5rem
}
@media (min-width: 600px) {
 .sidebar-open .grid {
  padding-right:16.5rem
 }
}
.list-container {
 padding:1rem 1.5rem;
 border:1px solid var(--c-gray-light)
}
.list-header {
 margin-bottom:1.5rem
}
.list-category,
.list-subcategory {
 display:inline
}
.list-category {
 font-size:calc(var(--f-size) * var(--f-scale-l));
 line-height:1.3rem;
 padding-top:.35rem;
 padding-bottom:.35rem
}
.list-subcategory {
 transition:opacity 300ms ease-out
}
.list-category::after,
a.list-subcategory::after {
 content:"→";
 display:inline-block;
 transition:opacity 300ms ease-out , transform 300ms ease-out;
 opacity:0
}
.list-category::after {
 font-size:var(--f-size);
 line-height:1rem;
 opacity:1;
 color:var(--c-gray);
 margin:0 .25rem
}
.list-category:hover+.list-subcategory {
 opacity:0
}
.list-category:hover::after,
.list-subcategory:hover::after {
 opacity:1;
 transform:translateX(0.25rem)
}
.list {
 list-style:none;
 margin:1rem 0 0
}
.list-item {
 margin:1rem 0 0;
 position:relative
}
.list-item::before {
 content:"";
 position:absolute;
 top:-0.5rem;
 right:0;
 left:0;
 height:1px;
 background:var(--c-gray-light)
}
.maker-name {
 font-size:calc(var(--f-size) * var(--f-scale-s));
 line-height:.8rem;
 padding-top:.1rem;
 padding-bottom:.1rem;
 color:var(--c-gray)
}
.product-link::after,
.maker-link::after {
 content:"→";
 display:inline-block;
 transition:opacity 300ms ease-out , transform 300ms ease-out;
 opacity:0
}
.product-link:hover::after,
.maker-link:hover::after {
 opacity:1;
 transform:translateX(0.25rem)
}
.single-list-container {
 display:flex;
 padding:1.5rem;
 border-bottom:1px solid var(--c-gray-light);
 min-height:calc(50vh - 3.5rem)
}
.single-list-container .list-container {
 margin:auto;
 width:100%;
 max-width:18rem
}
