<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        
        <link rel="preload" href="/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        
        <meta content="simples → listing all things minimal" itemprop="name">
        <title>simples → listing all things minimal</title>
        <meta content="simples → listing all things minimal" property="og:site_name">

        <link rel="apple-touch-icon" href="/favicons/placeholder.png" sizes="180x180">
        <link rel="icon" href="/favicons/placeholder.png" sizes="32x32" type="image/png">
        <link rel="icon" href="/favicons/placeholder.png" sizes="16x16" type="image/png">
        <link rel="mask-icon" href="/favicons/placeholder.svg" color="#23372d">
        <link rel="shortcut icon" href="/favicons/placeholder.ico">
        

        {{ $styles := resources.Get "scss/main.scss" | toCSS (dict "outputStyle" "compressed") }}
        <link href="{{ $styles.RelPermalink }}" rel="stylesheet">

    </head>
    <body>
        {{ partial "header.html" . }}

        {{ partial "sidebar.html" . }}

        {{ block "main" . }}
        {{ end }}

        {{ $opts := (dict "targetPath" "main.js" "minify" true) }}
        {{ $js := resources.Get "js/main.js" | js.Build $opts}}
        <script type="application/javascript" src="{{ $js.RelPermalink }}" defer></script>
    </body>
</html>
